**/rbin/
**/raw/
**/externals/
*RData
*pdf
**/audit
**/output
**/temp
**/zip
**/.svn
*csv
*xlsx
*~*
*log
**/html*
**scratch
**html
*.Rhistory
**7z
app/input
**zip
**temp*/
**output*/
confidential_data.R
.DS_Store